* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 30px;
}

#profiles {
  column-gap: 20px;
  column-count: 1;
  max-width: 1300px;
  margin: auto;
} 

.profile {
  margin: 0 0 20px 0;
  padding: 20px;
  background-color: white;
  break-inside: avoid;  
  height: auto;
  max-height: 650px;
  /* overflow: hidden;   */
} 

  @media (min-width:  600px) { 
    #profiles {
      column-count: 2; 
    }
  }

  @media (min-width:  900px) { 
    #profiles {
      column-count: 3; 
    }
    
  }
  @media (min-width:  1200px) { 
    #profiles {
      column-count: 4; 
    }
  } 


.brittany-walker {
  border: 4px solid purple;
  background-color: lightpink;
  color: dimgray;
  font-family: sans-serif;
  border-radius: 10px;
  box-shadow: 5px 5px 0 pink;
}

.brittany-walker ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.brittany-walker li {
  display: inline-block;
  background-color: lavender;
  border: 1px solid purple;
  color: black;
  padding: 5px;
  margin: 5px;
}